menu "Subsystems"

rsource "cmd/Kconfig"
rsource "err/Kconfig"
rsource "msg/Kconfig"
rsource "sensors/Kconfig"
rsource "sys/Kconfig"
rsource "telemetry/Kconfig"

rsource "front_box/Kconfig"
rsource "rear_box/Kconfig"

endmenu
