menuconfig LED_STRIP_GPIO
    bool "LEDs strip controlled by GPIO"
    depends on DT_HAS_GPIO_LED_STRIP_ENABLED
    default y
    select GPIO
    help
      Enable driver for LED strip controlled by GPIO.

if LED_STRIP_GPIO

endif # LED_STRIP_GPIO
