menuconfig NTURT
	bool "NTURT common library"
	help
	  Enables NTU Racing Team common library

if NTURT

module = NTURT
module-str = NTURT
source "subsys/logging/Kconfig.template.log_config"

endif # NTURT
