if BOARD_EP6_VCU

if DMA
config DCACHE
    default n
endif

if SDMMC_STM32
config SDMMC_STM32_HWFC
    default y
endif

if MIPI_DBI
config DMA
    default y
config SPI
    default y
config SPI_STM32_DMA
    default y
endif

if LOG_BACKEND_UART
config UART_ASYNC_API
    default y
config LOG_BACKEND_UART_ASYNC
    default y
endif

if SHELL_BACKEND_SERIAL
config UART_ASYNC_API
    default y
endif

endif # BOARD_EP6_VCU
