#include <zephyr/dt-bindings/sensor/sensor-channels.h>

/ {
    chosen {
        nturt,apps1 = &apps1;
        nturt,apps2 = &apps2;
        nturt,bse1 = &bse1;
        nturt,bse2 = &bse2;
        nturt,steer_encoder = &steer_encoder;
        nturt,susp-fl = &susp_fl;
        nturt,susp-fr = &susp_fr;
        nturt,susp-rl = &susp_rl;
        nturt,susp-rr = &susp_rr;
    };

    apps1: accel-encoder1 {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 2>;
        zephyr,channel = <SENSOR_CHAN_ROTATION>;
        min-voltage = <1000>;
        max-voltage = <3000>;
        min-value = <(-60) 0>;
        max-value = <60 0>;
    };

    apps2: accel-encoder2 {
        compatible = "analog-generic-sensor";
        io-channels = <&adc1 17>;
        zephyr,channel = <SENSOR_CHAN_ROTATION>;
        min-voltage = <1000>;
        max-voltage = <3000>;
        min-value = <(-60) 0>;
        max-value = <60 0>;
    };

    bse1: brake-press1 {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 3>;
        zephyr,channel = <SENSOR_CHAN_PRESS>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <6894 76>; // 1000 psi (6894 kPa)
        tolerance = <10>;
    };

    bse2: brake-press2 {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 7>;
        zephyr,channel = <SENSOR_CHAN_PRESS>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <6894 76>; // 1000 psi (6894 kPa)
        tolerance = <10>;
    };

    steer_encoder: steer-encoder {
        compatible = "analog-generic-sensor";
        io-channels = <&adc1 14>;
        zephyr,channel = <SENSOR_CHAN_ROTATION>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <(-180) 0>;
        max-value = <180 0>;
    };

    susp_fl: susp_fl {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 4>;
        zephyr,channel = <SENSOR_CHAN_DISTANCE>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <10 0>;
    };

    susp_fr: susp_fr {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 8>;
        zephyr,channel = <SENSOR_CHAN_DISTANCE>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <10 0>;
    };

    susp_rl: susp_rl {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 5>;
        zephyr,channel = <SENSOR_CHAN_DISTANCE>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <10 0>;
    };

    susp_rr: susp_rr {
        compatible = "analog-generic-sensor";
        io-channels = <&adc3 9>;
        zephyr,channel = <SENSOR_CHAN_DISTANCE>;
        min-voltage = <600>;
        max-voltage = <3000>;
        min-value = <0 0>;
        max-value = <10 0>;
    };
};
