menuconfig NTURT_FS
	bool "File system support"
	select DISK_ACCESS
	select FILE_SYSTEM
	help
	  Automatically mount SD card to file system of choice.

if NTURT_FS

choice NTURT_FS_TYPE
	prompt "Which file system to use"
	default NTURT_FS_FAT_FS

config NTURT_FS_FAT_FS
	bool "Uses FatFs as the file system"
	select FAT_FILESYSTEM_ELM

config NTURT_FS_LITTLE_FS
	bool "Uses LittleFs as the file system"
	select FILE_SYSTEM_LITTLEFS
	select FS_LITTLEFS_BLK_DEV

endchoice

if NTURT_FS_FAT_FS

config FS_FATFS_REENTRANT
	default y
config FS_FATFS_FSTAB_AUTOMOUNT
	default y

config NTURT_FS_FAT_FS_HAS_RTC
	bool "Use real-time clock for FAT FS timestamps"
	depends on NTURT_RTC
	default y
	select FS_FATFS_HAS_RTC

endif # NTURT_FS_FAT_FS

config NTURT_FS_SHELL
	bool "File system shell"
	depends on NTURT_SHELL
	default y
	select FILE_SYSTEM_SHELL

if LOG

config LOG_BACKEND_FS
	default y
config LOG_BACKEND_FS_DIR
	default "/SD:/logs"
config LOG_BACKEND_FS_FILE_PREFIX
	default ""
config LOG_BACKEND_FS_FILES_LIMIT
	default 5
config LOG_BACKEND_FS_FILE_SIZE
	default 262144

endif # LOG

if SETTINGS

choice SETTINGS_BACKEND
	default SETTINGS_FILE
endchoice
config SETTINGS_FILE_PATH
	default "/SD:/settings"

config NTURT_SETTINGS_INIT_PRIORITY
	int "Init priority"
	default 99
	help
	  Settings subsystem initialization priority. Should be the last to load
	  settings to each module only after they are initialized.

endif # SETTINGS

endif # NTURT_FS
