menuconfig NTURT_MSG
    bool "Inter-thread communication system"
    depends on NTURT
    select ZBUS

if NTURT_MSG

config NTURT_MSG_INIT_PRIORITY
    int "NTURT message module init priority"
    default 10

config NTURT_MSG_CHAN_STATES
    bool "Channel for VCU control system state machine"
    depends on VCU_STATES
    default y

endif # NTURT_MSG
