menuconfig NTURT_MSG
    bool "Inter-thread communication system"
    depends on NTURT
    select ZBUS

if NTURT_MSG

config NTURT_MSG_INIT_PRIORITY
    int "NTURT message module init priority"
    default 10
    help
      Message module initialization priority.

endif # NTURT_MSG
