menuconfig NTURT_SENSORS
    depends on NTURT
    bool "Sensor module"

if NTURT_SENSORS

config NTURT_SENSORS_INIT_PRIORITY
    int "Sensors subsystem initialization priority"
    default 10
    help
      Sensors subsystem initialization priority.

config NTURT_SENSORS_THREAD_PRIORITY
    int "Sensors subsystem thread priority"
    default 10
    help
      Sensors subsystem thread priority.

endif # NTURT_SENSORS
