menuconfig NTURT_SYS
    bool "Basic system functionalities"
    depends on NTURT
    select REBOOT

if NTURT_SYS

config NTURT_SYS_INIT_PRIORITY
    int "NTURT basic system init priority"
    default 0
    help
      NTURT basic system initialization priority.

config NTURT_SYS_SHELL
    bool "Shell support"
    select SHELL

DT_CHOSEN_NTURT_BUZZER := nturt,buzzer

config NTURT_SYS_REBOOT_SOUND
    bool "Reboot sound"
    depends on $(dt_chosen_enabled,$(DT_CHOSEN_NTURT_BUZZER))
    default y
    select GPIO

rsource "fs/Kconfig"
rsource "rtc/Kconfig"

endif # NTURT_SYS
