menuconfig NTURT_SYS
	bool "Basic system support"
	depends on NTURT
	select REBOOT

if NTURT_SYS

rsource "fs/Kconfig"
rsource "rtc/Kconfig"

module = NTURT_SYS
module-str = Basic System
source "subsys/logging/Kconfig.template.log_config"

config NTURT_SYS_INIT_PRIORITY
	int "Init priority"
	default 0
	help
	  Basic system initialization priority.

DT_CHOSEN_NTURT_BUZZER := nturt,buzzer

config NTURT_SYS_REBOOT_SOUND
	bool "Reboot sound"
	depends on $(dt_chosen_enabled,$(DT_CHOSEN_NTURT_BUZZER))
	default y
	select GPIO

config NTURT_SHELL
	bool "Shell support"
	select SHELL
	select LOG_CMDS
	select THREAD_RUNTIME_STATS

endif # NTURT_SYS
