config NTURT_SYS_RTC
    bool "Real-time clock system module"
    depends on RTC
    select POSIX_TIMERS
    help
      Initialize RTC time to dummy time if power had lost and set posix realtime
      clock time to RTC time. Implements function to set system time through
      sys_set_time().

if NTURT_SYS_RTC

config NTURT_LOG_REALTIME
    bool "Enable logging with real-time timestamp"
    default y
    select LOG_TIMESTAMP_USE_REALTIME
    help
      Use real-time clock time as logging system timestamp.

endif # NTURT_SYS_RTC
