menuconfig NTURT_CMD
	bool "Commmand support"
	depends on NTURT
	select MPSC_PBUF
	select SYS_HASH_FUNC32
	select SYS_HASH_MAP

if NTURT_CMD

module = NTURT_CMD
module-str = Command
source "subsys/logging/Kconfig.template.log_config"

config NTURT_CMD_INIT_PRIORITY
	int "Init priority"
	default 50
	help
	  Command initialization priority.

config NTURT_CMD_BUF_SIZE
	int "Command buffer size"
	default 256

config NTURT_CMD_PROCESS_THREAD_STACK_SIZE
	int "Command processing thread stack size"
	default 512

config NTURT_CMD_PROCESS_THREAD_PRIORITY
	int "Command processing thread priority"
	default 1

endif # NTURT_CMD
