.. _decisions_<name>:

.. This template is modified from `Decision record template by Jeff Tyree and Art Akerman
   <https://github.com/joelparkerhenderson/architecture-decision-record/tree/main/locales/en/templates/decision-record-template-by-jeff-tyree-and-art-akerman>`_,
   refer to the link for usage explaination.

=====================
<Title of the Record>
=====================

Summary
=======

Issue
-----

Decision
--------

Status
------

Details
=======

Assumption
----------

Constraints
-----------

Positions
---------

Arguments
---------

Implications
------------

Notes
=====
