menuconfig NTURT_ERR
	bool "Error passing and handling support"
	depends on NTURT
	select SYS_HASH_FUNC32
	select SYS_HASH_MAP

if NTURT_ERR

module = NTURT_ERR
module-str = Error Handling
source "subsys/logging/Kconfig.template.log_config"

config NTURT_ERR_INIT_PRIORITY
	int "Init priority"
	default 0
	help
	  Error initialization priority.

config NTURT_ERR_CB_DISPATCH_PRIORITY
	int "Init priority to start processing error callbacks"
	default 90
	help
	  Error callback dispatch priority after which the error callbacks will be
	  processed. Callbacks with errors set before this priority will be deferred
	  until this priority is reached.

config NTURT_ERR_SHELL
	bool "Error shell support"
	depends on NTURT_SHELL
	default y

endif # NTURT_ERR
