menuconfig NTURT_ERR
	bool "Error passing and handling support"
	depends on NTURT
	select SYS_HASH_FUNC32
	select SYS_HASH_MAP

if NTURT_ERR

module = NTURT_ERR
module-str = Error Handling
source "subsys/logging/Kconfig.template.log_config"

config NTURT_ERR_INIT_PRIORITY
	int "Init priority"
	default 90
	help
	  Error initialization priority.

config NTURT_ERR_SHELL
	bool "Error shell support"
	default y
	depends on NTURT_SHELL

endif # NTURT_ERR
